params {
//global params 

//params.cpus=16
//params.mem=30G
reads=null
csv=null
debug=false
outdir="results"

//we make links for bwa index

//we declare bwa variables
aligner="bwa-mem2"
alt_js="bwa-postalt.js"
alt=false
hla=true
ref="NO_FILE"

//we declare elprep variables
dbsnp="NO_FILE"
dbindel="NO_FILE"
elpre_ref="NO_FILE"

}


process {
    withName: 'FASTQC' {
        cpus = 4
	memory = '10 GB'
    }
    withName: 'BWAMEM' {
        cpus = 14
	memory = '40 GB'
    }

  withName: 'MERGEB' {
        cpus = 4
	memory = '10 GB'
    }

    withName: 'ELPREP' {
        cpus = 18
	memory = '200 GB'
    }
    withName: 'QUALIMAP' {
        cpus = 4
	memory = '30 GB'
    }
    withName: 'B2C' {
        cpus = 4
	memory = '30 GB'
    }
    withName: 'DEPTH' {
        cpus = 4
	memory = '30 GB'
    }
}

profiles {
    uoh {
        process {
            executor = 'slurm'
            queue = 'ngen-ko'
        }
    }

    leftraru {
        process {
            executor = 'slurm'
            queue = 'main'
        }
    }
    
    conda {
        process.conda = '$baseDir/conda.yml'
    }
}


def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}


manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/digenoma-lab/alnsl'
    author = 'Alex Di Genova'
    version = '0.0.1'
}
